////////////////////////////////
// AWS Connection

aws_region = "us-east-1"

aws_profile = "default"

aws_credentials_file = "~/.aws/credentials"

aws_key_pair_file = "~/.ssh/id_rs"

aws_key_pair_name = ""

origin = ""

////////////////////////////////
// Object Tags

tag_customer = ""

tag_project = ""

tag_name = ""

tag_dept = ""

tag_contact = "myemail@chef.io"

tag_application = ""

////////////////////////////////
// Automate Config

automate_hostname = "roadtrip.workshops.learn.chef.io"
automate_license  = <YOUR AUTOMATE LICENSE>

// NOTE: If you have an acm cert and r53 managed hosted zone, you
// can use chef_automate_alb.tf.example to build out an ALB with SSL
// and DNS via R53.
// ** You do not need to set custom ssl key and chain in this scenario **

automate_alb_acm_matcher = "*.workshops.learn.chef.io"
automate_alb_r53_matcher = "workshops.learn.chef.io."

// number of automate users to add

automate_user_count = "3"

// common password for all automate users

automate_user_password = "LCRr0@dtr1p"

// number of student worksations to provision, usually same as user_count

workstation_count = "3"

// common password for all workstations, user chef

workstation_user_password = "Cod3Can!"

// VSCode Server WebUI password, usually same as workstation_user_password

code_server_password = "Cod3Can!"